body{
    color:#40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color:#9a8194;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:5.625rem;
    

}
h2{
    color:#9a8194;
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    padding-bottom: 10px;
}
h3{
    color:#16c79a;
    font-family: 'Sacramento', cursive;
}
a{
    color:#d2f6c5;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#28df99;
}
.copyright{
    color:#28df99;
    font-size:0.75rem;
    padding:20px 0;
}
.intro{
    width:30%;
    margin:auto;
}
.top-container{
    background-color:#c6a9a3;
    position:relative;
    padding-top:100px;
}
.middle-container{
    margin:100px 0;
}
.bottom-container{
background-color:#e05297 ;
padding:50px 0 20px;
}
p{
    line-height: 2;
}
hr{
    border:dotted #EAF6F6 6px;
    border-bottom:none;
    width:4%;
    margin:100px auto;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:40px;
}
.bottom-cloud{
    position:absolute;
    left:250px;
    bottom:300px;
}
.contact-msg{
    width: 40%;
    margin:40px auto 60px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
   
}
.girl-img{
    width:20%;
}
.lap-img{
    width:40%;
    float:left;
    margin-right: 30px;
}
.coding-img{
    width:40%;
    float:right;
    margin-left:30px;
}
.btn {
    background: #f3bad6;
    background-image: -webkit-linear-gradient(top, #f3bad6, #e05297);
    background-image: -moz-linear-gradient(top, #f3bad6, #e05297);
    background-image: -ms-linear-gradient(top, #f3bad6, #e05297);
    background-image: -o-linear-gradient(top, #f3bad6, #e05297);
    background-image: linear-gradient(to bottom, #f3bad6, #e05297);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #cbbcb1;
    background-image: -webkit-linear-gradient(top, #cbbcb1, #52057b);
    background-image: -moz-linear-gradient(top, #cbbcb1, #52057b);
    background-image: -ms-linear-gradient(top, #cbbcb1, #52057b);
    background-image: -o-linear-gradient(top, #cbbcb1, #52057b);
    background-image: linear-gradient(to bottom, #cbbcb1, #52057b);
    text-decoration: none;
  }